---
import { blogs } from "../../data/blog";
---

<div id="news" class="sm_blog_area container" style="padding: 120px 0 100px;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-md-6 witr_all_pd0">
                <div
                    class="container py-6 mb-4"
                    style="background-color: #f3f3f3;"
                >
                    <div class="tts">
                        <div class="ttin text-left">
                            <div class="ttit flex justify-center items-center">
                                <img
                                    src="/content/Sm_title_shap.png"
                                    alt="image"
                                    class=""
                                />
                            </div>
                            <h2 class="txbdstitle hlight">Últimas Noticias</h2>
                            <p>
                                Mantente al día con las últimas novedades en
                                tecnología rural, consejos sobre energía
                                sustentable y avances en automatización para el
                                campo.
                            </p>
                        </div>
                    </div>
                    <div class="witr_button_area">
                        <div class="witr_btn_style mr">
                            <div class="witr_btn_sinner">
                                <a href="#" class="witr_btn">
                                    Ver Todas las Noticias
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 witr_all_pd0">
                <div class="blog_witr">
                    <div class="witr_carousel_main row">
                        {
                            blogs.slice(0, 2).map((blog) => (
                                <div class=" col-lg-6 col-md-6 col-sm-12 witr_nth_child txbdmb30">
                                    <div class="wblogpart allcostyle">
                                        <div class="wblogthumb alltcolorstyle">
                                            <div class="wblogthumbinner">
                                                <a href={blog.link}>
                                                    <img
                                                        src={blog.image}
                                                        alt="image"
                                                        class="aspect-square object-cover"
                                                    />
                                                </a>
                                            </div>
                                            <div class="absolute bg-black/10 w-full h-full top-0 left-0" />
                                        </div>

                                        <div class="wblogcontent allccolorstyle metashowcp">
                                            <div class="wblogmeta sheepfarm_meta wblogmetaposi">
                                                <span>
                                                    <i class="ti-timer" />
                                                    {blog.date}
                                                </span>
                                            </div>
                                            <h2 class="wblogtitle">
                                                <a href={blog.link}>
                                                    {blog.title}
                                                </a>
                                            </h2>
                                            <p>{blog.summary}</p>
                                            <div class="wbriconoverhidd">
                                                <div class="wblogbtn">
                                                    <a
                                                        class="btnallt btnalldefault"
                                                        href={blog.link}
                                                    >
                                                        Leer Más
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            ))
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
