---
import { projects } from "../../data/projects";
---
<div class="sm_proj_area">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="witr_pslide all_pslides_color ps1">
                    <div class="witr_carousel_main row proj_active">
                        {projects.map((project) => (
                            <div class="item_pos col-lg-12">
                                <div class="witr_single_pslide">
                                    <div class="witr_pslide_image">
                                        <img src={project.image} alt="image">
                                    </div>
                                    <div class="witr_content_pslide_text">
                                        <div class="witr_content_pslide">
                                            <h2><a href={project.link}>{project.title}</a></h2>
                                            <p>{project.description}</p>
                                            <div class="witr_pslide_custom">
                                                <a href={project.link}><span class="txbdbcolor txbdwbg txbdbrhv icofont-arrow-right"></span></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        ))}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
                </div>
            </div>
        </div>
    </div>
</div>
